<!-- <div class="container"> -->
  <div class="hero-unit">
    <h1>
        Hai <span class="username">friend</span>. Whatcha wanna do?
    </h1>
    <form class="form-horizontal">   
      <div class="control-group"> 
          <label class="control-label">Let's</label>
          <div class="controls">
              <input placeholder="eat ramen" class="input-medium" type="text" name="event-description" id="event-description" /> 
          </div>
      </div>
      <div class="control-group">
          <label class="control-label">At</label>
          <div class="controls">
              <input placeholder="Ken-Ken Ramen" class="input-medium" type="text" name="event-location" />
          </div>
      </div>
      <!-- TODO: ENABLE FOURSQUARE -->

      <!-- Below is example from Bootstrap-Timepicker website -->
      <div class="control-group">
          <label class="control-label">Time</label>
          <div class="controls">
              <div class="input-append bootstrap-timepicker">
                  <input id="timepicker1" type="text" class="input-small"> 
                  <span class="add-on"><i class="icon-time"></i></span>
              </div>
          </div>
      </div>
      <div class="control-group">
          <div class="controls">
              <button class="btn btn-primary btn-large" href="#">Share</button>
          </div>
      </div>           
   </form>
</div>
