h1 {
  margin-bottom: 20px;
}

form.hangout span {
  display: inline-block;
  font-size: 25px;
  line-height: 20px;
  /* HACK */
  position: relative;
  top: 3px;
  /* END HACK */
}

form.hangout span, form.hangout button, form.hangout input {
  margin: 0px 6px;
}

#event-time {
  width: 90px;
}

.footer {
  text-align: center;
}